@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin:0; 
    padding:0;
    box-sizing:border-box;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

body {
    width: 100%;
    background: #aff2db;
    font-family: 'Nunito', sans-serif;
    line-height: 3em;
}

header{
    width: 100%;
    margin: 2% auto;
}

.logo-container{
    width: 100%;
    text-align: center;
    padding: 30px;
}

.logo-container p{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #1baacc;
    font-size: 6em;
}

nav{
    width: 100%;
    text-align: center;
    padding: 2% 0;
}

nav ul {
    margin: 0 auto;
    padding: 30px;
    border-bottom: 1px solid #44b09e ;
    border-top: 1px solid #44b09e ;
    display: block;
}

nav li a{
    text-decoration: none;
    color: #676566;
    font-size: 1.8em;
    padding: 20px;
}

nav li a:hover{
    color:#090605;
}

nav ul li {
    display: inline;
    font-size: 1.8em;
}

main{
    width: 100%;
}

.central-illustration{
    width: 100%;
    text-align: center;
}

h1 {
    width: 750px;
    margin: 0 auto;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 4em;
    color: #ffffff;
    background: #1baacc;
    padding: 60px 20px;
}

button{
    text-align: center;
    background: #f9ed32;
    padding: 20px 60px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 4em;
    margin: 20px;
    border-radius: 80px;
}

button a{
    color: #808080;
    text-decoration: none;
}

.about{
    padding: 0 50px;
}

.about h2{
    margin: 50px -50px;
}

h2 {
    font-family: 'Dosis', Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 2.5em;
    border-bottom: 1px solid #1baacc ;
    border-top: 1px solid #1baacc ;
    color: #1baacc ;
    text-align: center;
    padding: 20px;
    margin: 50px 0;
}

.ma-courses{
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 100px;
}

.courses-block{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.courses-block ul{
    margin: 0 auto;
}

.courses-block li{
    padding: 10px;
}

.courses-block img{
    width: 100%;
}

.courses-block a{
    text-align: center;
    text-decoration: none;
    font-size: 3.2em;
    color: #1baacc;
}

footer{
    width: 100%;
    text-align: center;
    border-top: 1px solid #1baacc;
    border-bottom: 1px solid #1baacc;
}

footer p{
    padding: 2% 0;
}


/*************************************************/
/**************** RESPONSIVE-500PX ***************/
/***********************************************
/*
@media only screen and (min-width: 500px) {
    .courses-block{
        width: 80%;
    }
    
    .courses-block ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .courses-block li{
        width: 30%;
    }
    
    .courses-block a{
        font-size: 2em;
        line-height: 1em;
    }
    
}**/