@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin:0; 
    padding:0;
    box-sizing:border-box;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

p{
    font-size: 1em;
    line-height: 1.3em;
    color: #3d3c3d;
}

body {
    width: 100%;
    background: #be9ddf;
    font-family: 'Nunito', sans-serif;
}

header{
    width: 100%;
}

.logo-container{
    width: 100%;
    text-align: center;
    padding: 20px 0 10px;
}

.logo-container p{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #f8e113;
    font-size: 2em;
}

nav{
    width: 100%;
    text-align: center;
}

nav ul {
    margin: 0 auto;
    border-bottom: 1px solid #775cb1 ;
    border-top: 1px solid #775cb1 ;
    display: block;
    padding: 6px;
}

nav li a{
    text-decoration: none;
    color: #5c458f;
    font-size: 1em;
}

nav li a:hover{
    color:#090605;
}

nav ul li {
    display: inline;
    padding: 6px;
}

main{
    width: 100%;
}

.central-illustration img{
    width: 100%;
}

/* central illustration */

.first-block{ 
    padding: 30px 0 20px;
}

.central-illustration{
    width: 100%;
    text-align: center;
}

h1 {
    width: 70%;
    margin: 0 auto;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
    background: #775cb1;
    padding: 30px 10px;
}

button{
    text-align: center;
    background: #f9ed32;
    padding: 10px 40px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.3em;
    margin: 20px;
    border-radius: 80px;
}

button a{
    color: #494949;
    text-decoration: none;
}

.about{
    padding: 30px;
}

.about h2{
    color: #f9ed32;
}

.about p{
    padding: 10px 0;
    color: #f1f1f1;
}

.about a{
    color: #775cb1;
    text-decoration: none;
}

h2 {
    font-family: 'Dosis', Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 1.5em;
    color: #eb9114;
    text-align: center;
    padding: 40px;
}

/**************** start courses list ***************/
.ma-courses{
    width: 100%;
    /*background-color: #f5f5f4;*/
    background-color: #e3e9e5;
    padding-bottom: 50px;
}

.courses-block{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.courses-block p{
    padding-bottom: 10px;
}

.courses-block li{
    padding: 10px;
}

.courses-block img{
    width: 100%;
}

.courses-block ul{
    margin: 0 auto;
}

.courses-block img{
    width: 100%;
}

.courses-block a{
    text-align: center;
    text-decoration: none;
    color: #775cb1;
}

footer{
    text-align: center;
}

footer p{
    padding: 30px;
    color: #f1f1f1;
}

/*************************************************/
/**************** RESPONSIVE-500PX ***************/
/*************************************************/

@media only screen and (min-width: 500px) {

    nav ul {
        border:0;
    }
    

    h1{
        width: 85%;
    }
    .central-illustration{
        margin: 0 auto;
        width: 400px;
    }

    .courses-block{
        width: 80%;
    }
    
    .courses-block ul{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }
    
    .courses-block li{
        width: 30%;
    }

}

/*************************************************/
/**************** RESPONSIVE-830PX ***************/
/*************************************************/

@media only screen and (min-width: 850px){

.logo-container p {
    font-size: 2.5em;
}

.courses-block, .about{
    width: 650px;
}

.courses-block{
    padding-bottom: 50px;
}

.first-block{
    width: 820px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.central-illustration {
    width: 60%;
}

.about{
    width: 40%;
    margin: 0 auto;
    padding: 0;
}

.about h2 {
    text-align: left;
    border: 0;
    margin: 0;
    padding: 0;
}

}